# You can use this file to create a conda environment for this pipeline:
#   conda env create -f environment.yml
name: nfcore-exoseq-0.9dev
channels:
  - bioconda
  - conda-forge
  - defaults

dependencies:
  - conda-forge::openjdk # Needed for FastQC docker - see bioconda/bioconda-recipes#5026
  - bwa=0.7.17
  - fastqc=0.11.7
  - trim-galore=0.4.5
  - samtools=1.8
  - gatk4=4.0.3.0
  - qualimap=2.2.2a
  - multiqc=1.5
