/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  NGI-ExoSeq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

profiles {
    standard {
        includeConfig 'conf/container.config'
        includeConfig 'conf/base.config'
    }
    cfc {
        includeConfig 'conf/container.config'
        includeConfig 'conf/cfc.config'
    }
    binac {
        includeConfig 'conf/container.config'
        includeConfig 'conf/base.config'
        includeConfig 'conf/binac.config'
    }
    local {
        includeConfig 'conf/container.config'
        includeConfig 'conf/base.config'
        includeConfig 'conf/local.config'
    }
    uppmax {
        includeConfig 'conf/container.config'
        includeConfig 'conf/uppmax.config'
    }
}

env {
  NXF_OPTS="-Xms1g -Xmx4g"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash','-euo', 'pipefail']

params.outdir = './results'

timeline {
  enabled = true
  file = "${params.outdir}/NGI-ExoSeq_timeline.html"
}

trace {
  enabled = true
  file = "${params.outdir}/NGI-ExoSeq_trace.txt"
}

manifest {
    homePage = 'https://github.com/SciLifeLab/NGI-ExoSeq'
    description = 'Nextflow Exome Sequencing Best Practice analysis pipeline.'
    mainScript = 'PairedSingleSampleWF.nf'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}

