/*
Default config file for NGI-EXOseq pipeline
Loaded automatically when exoseq.nf called
*/

profiles {
    standard {
        includeConfig 'conf/uppmax.config'
//        includeConfig 'conf/local.config'
    }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']
