/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  QBIC-ExoSeq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

profiles {
    cfc {
        includeConfig 'conf/cfc.config'
    }
    binac {
        includeConfig 'conf/binac.config'
    }
    standard {
        includeConfig 'conf/uppmax.config'
    }
    local {
        includeConfig 'conf/local.config'
    }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

params.outdir = './results'
timeline {
  enabled = true
  file = "${params.outdir}/NGI-ExoSeq_timeline.html"
}
trace {
  enabled = true
  file = "${params.outdir}/NGI-ExoSeq_trace.txt"
}

manifest {
    homePage = 'https://github.com/SciLifeLab/NGI-ExoSeq'
    description = 'Nextflow Exome Sequencing Best Practice analysis pipeline, used at the SciLifeLab National Genomics Infrastructure.'
}
