/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {
  cpus = 2
  memory = 8.GB
  time = 2.h


  // Process-specific resource requirements
  $fastqc {
    container = 'shub://qbicsoftware/qbic-singularity-fastqc'
    memory = 2.GB
    time = 1.h 
  }

  $trim_galore {
    container = 'shub://qbicsoftware/qbic-singularity-trimgalore'
    cpus = 2
    memory = 4.GB
    time = 2.h
  }

  $bwamem {
    container = 'shub://qbicsoftware/qbic-singularity-bwa'
    cpus = 2
    memory = 4.GB
    time = 2.h
  }

  $makeBWAIndex{
    container = 'shub://qbicsoftware/qbic-singularity-bwa'
    cpus = 2
    memory = 4.GB
    time = 2.h
  }

  $sortSam {
    container = 'shub://qbicsoftware/qbic-singularity-samtools'
    cpus = 2
    memory = 4.GB
    time = 2.h
  }

  $makeFastaIndex {
    container = 'shub://qbicsoftware/qbic-singularity-samtools'
    cpus = 2
    memory = 4.GB
    time = 2.h
  }

  $markDuplicates {
    container = 'shub://qbicsoftware/qbic-singularity-picard'
    cpus = 2
    memory = 4.GB
    time = 2.h
  }

  $recal_bam_files {
    container = 'shub://qbicsoftware/qbic-singularity-gatk'
    cpus = 2
    memory = 4.GB
    time = 2.h
  }

  $realign {
    container = 'shub://qbicsoftware/qbic-singularity-gatk'
    cpus = 2
    memory = 4.GB
    time = 2.h
  }

  $qualiMap {
    //container = 'shub://qbicsoftware/qbic-singularity-qualimap2'
    cpus = 2
    memory = 4.GB
    time = 2.h
  }

  $variantCall {
    container = 'shub://qbicsoftware/qbic-singularity-gatk'
    cpus = 2
    memory = 4.GB
    time = 2.h
  }

  $genotypegvcfs{
    container = 'shub://qbicsoftware/qbic-singularity-gatk'
    cpus = 2
    memory = 4.GB
    time = 2.h
  }

  $variantSelect {
    container = 'shub://qbicsoftware/qbic-singularity-gatk'
    cpus = 2
    memory = 4.GB
    time = 2.h
  }

  $recalSNPs{
    container = 'shub://qbicsoftware/qbic-singularity-gatk'
    cpus = 2
    memory = 4.GB
    time = 2.h
  }

  $recalIndels{
    container = 'shub://qbicsoftware/qbic-singularity-gatk'
    cpus = 2
    memory = 4.GB
    time = 2.h
  }

  $combineVariants{
    container = 'shub://qbicsoftware/qbic-singularity-gatk'
    cpus = 2
    memory = 4.GB
    time = 2.h
  }

  $variantAnnotatesnpEff{
    container = 'shub://qbicsoftware/qbic-singularity-snpeff'
    cpus = 2
    memory = 4.GB
    time = 2.h    
  }

  $variantAnnotatevariantAnnotateGATK{
    container = 'shub://qbicsoftware/qbic-singularity-gatk'
    cpus = 2
    memory = 4.GB
    time = 2.h
    }
}