/*
local config file for NGI-EXOseq pipeline
Contains paths for meta files, genomes and
configurations for executors i.e. SLURM
*/

params {
    metaFiles {
        'GRCh37' {
            gfasta = '/Users/senthilkumarpanneerselvam/task/nextflow_tutotials/NGI-EXOseq/test/meta_files/hg19.fa'
            bwa_index = '/Users/senthilkumarpanneerselvam/task/nextflow_tutotials/NGI-EXOseq/test/meta_files/hg19.ga'
            dbsnp = '/Users/senthilkumarpanneerselvam/task/nextflow_tutotials/NGI-EXOseq/test/meta_files/dbsnp_132.vcf'
            hapmap = '/Users/senthilkumarpanneerselvam/task/nextflow_tutotials/NGI-EXOseq/test/meta_files/hapmap_3.3.vcf'
            omni = '/Users/senthilkumarpanneerselvam/task/nextflow_tutotials/NGI-EXOseq/test/meta_files/1000G_omni2.5.vcf'
        }
    }
    kitFiles {
        'agilent_v5' {
            bait = '/Users/senthilkumarpanneerselvam/task/nextflow_tutotials/NGI-EXOseq/test/meta_files/SureSelect_Human_All_Exon_V5_baits.interval_list'
            target = '/Users/senthilkumarpanneerselvam/task/nextflow_tutotials/NGI-EXOseq/test/meta_files/SureSelect_Human_All_Exon_V5_targets.interval_list'
            target_bed = '/Users/senthilkumarpanneerselvam/task/nextflow_tutotials/NGI-EXOseq/test/meta_files/SureSelect_Human_All_Exon_V5_targets_snpeff.bed'
        }
    }
}
