/*
local config file for NGI-EXOseq pipeline
Contains paths for meta files, genomes and
configurations for executors i.e. SLURM
*/

params {
    metaFiles {
        'GRCh37' {
            gfasta = '/Users/senthilkumarpanneerselvam/task/nextflow_tutotials/NGI-EXOseq/test/meta_files/hg19.fa'
            bwa_index = '/Users/senthilkumarpanneerselvam/task/nextflow_tutotials/NGI-EXOseq/test/meta_files/hg19.ga'
            dbsnp = '/Users/senthilkumarpanneerselvam/task/nextflow_tutotials/NGI-EXOseq/test/meta_files/dbsnp_132.vcf'
            hapmap = '/Users/senthilkumarpanneerselvam/task/nextflow_tutotials/NGI-EXOseq/test/meta_files/hapmap_3.3.vcf'
            omni = '/Users/senthilkumarpanneerselvam/task/nextflow_tutotials/NGI-EXOseq/test/meta_files/1000G_omni2.5.vcf'
        }
    }
    kitFiles {
        'agilent_v5' {
            bait = '../conf/kits/agilent_v5/S04380110_Regions.interval_list'
            target = '../conf/kits/agilent_v5/S04380110_Covered.interval_list'
            target_bed = '../conf/kits/agilent_v5/S04380110_Covered.bed'
        }
    }
}
