/*
local config file for QBIC-EXOseq pipeline
Contains paths for meta files, genomes and
configurations for executors i.e. SLURM
*/

params {
    metaFiles {
        'GRCh37' {
            gfasta = '/home/alex/Downloads/testdata-exome/Ref/GRCh37.fa'
            bwa_index = '/home/alex/Downloads/testdata-exome/Ref/GRCh37.fa'
            dbsnp = '/home/alex/Downloads/testdata-exome/dbs/dbSNP/dbsnp_b149.vcf.gz'
            thousandg = '/home/alex/Downloads/testdata-exome/dbs/1000G/100g_v5b.vcf.gz'
            clinvar = '/home/alex/Downloads/testdata-exome/dbs/ClinVar/clinvar_20170130_converted.vcf'
            exac = '/home/alex/Downloads/testdata-exome/dbs/ExAC/ExAC_r0.3.1.vcf.gz'
            gnomad = '/home/alex/Downloads/testdata-exome/dbs/gnomAD/gnomAD_r2.0.1.vcf.gz'
        }
    }
    kitFiles {
        'agilent_v5' {
            bait = '../conf/kits/agilent_v5/S04380110_Regions.interval_list'
            target = '../conf/kits/agilent_v5/S04380110_Covered.interval_list'
            target_bed = '../conf/kits/agilent_v5/S04380110_Covered.bed'
        }
    }
}
